@use "../scss/mixins";

@include mixins.active {
	.markdown-rendered :not(pre) > code:not([class*="blur"]) {
		display: inline;

		span.cm-inline-code {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}

	// Specific Corrections
	tr code.cs-code-inline {
		white-space: normal;
	}

	.reveal img.cs-icon {
		margin: inherit;
	}
}
