@use "../scss/mixins";

@include mixins.active {
	span.cs-parameters {
		color: var(--cs-inline-parameters-text-colour);
		font-weight: var(--cs-inline-parameters-font-weight);
		font-style: var(--cs-inline-parameters-font-style);
		font-family: var(--cs-inline-parameters-font-family);
	}
}
