@use "../../scss/mixins";

@include mixins.active {
	.cs-pre-parent,
	.markdown-source-view *:not(.cm-embed-block) > {
		.cs-line-number {
			background-color: var(--cs-fence-gutter-background-colour);
			color: var(--cs-fence-gutter-text-colour);
			font-family: var(--cs-fence-gutter-font-family);
			font-style: var(--cs-fence-gutter-font-style);
			font-weight: var(--cs-fence-gutter-font-weight);

			position: sticky;
			left: 0;
			user-select: none;

			padding-right: var(--size-4-3);
			margin-right: var(--size-4-3);
			border-right: var(--cs-fence-gutter-border-width) solid var(--cs-fence-gutter-border-colour);
			// box-shadow: calc(var(--size-4-4) * -1) 0px var(--cs-fence-gutter-background-colour), 0px calc(var(--size-4-1) * -1) var(--cs-fence-gutter-background-colour), 0px var(--size-4-4) var(--cs-fence-gutter-background-colour);

			&::before {
				content: "";
				position: absolute;
				top: calc(-1 * var(--size-4-1));
				bottom: -100%;
				left: calc(-1 * calc(var(--size-4-4) - var(--cs-fence-gutter-language-border-size)));
				right: 0;
				background-color: inherit;
				z-index: -5;
				box-shadow: calc(-1 * var(--cs-fence-gutter-language-border-size)) 0 0px var(--cs-language-border-gutter-colour);
			}

			&::after {
				content: "";
				position: absolute;
				top: 0px;
				bottom: 0px;
				width: var(--size-4-3);
				left: calc(100% + var(--cs-fence-gutter-border-width));
				right: calc(-1 * var(--size-4-3));
				// background: linear-gradient(to left, transparent, 50%, var(--cs-fence-background-colour));
				background: linear-gradient(to left, transparent, var(--cs-fence-fade-gradient-stop), var(--cs-fence-background-colour));
				// mask-image: linear-gradient(to right, black, transparent);
				// backdrop-filter: blur(2px);
				z-index: 10;
			}
		}
	}


	.cs-pre-parent {
		> pre.cs-pre {
			> code.cs-code {
				> div.cs-line {
					> div.cs-line-number {
						grid-column: 1;
						text-align: right;

						&.cs-line-numbers-enabled-false {
							display: none;
						}

						&.cs-line-numbers-enabled-true {
							display: block;
						}
					}
				}
			}
		}
	}

	.markdown-source-view {
		div.cm-line:not(.cm-embed-block).cs-line {
			span.cs-line-number {
				// background-color: transparent;
				display: inline-block;
				height: 100%;
				// box-shadow: var(--cs-fence-gutter-border-width) 0px purple;
				// box-shadow: 0px calc(var(--size-4-1) * -1) var(--cs-fence-gutter-background-colour), 0px var(--size-4-1) var(--cs-fence-gutter-background-colour); // calc(var(--size-4-4) * -1) 0px var(--cs-fence-gutter-background-colour),
				overflow-y: visible;
				margin-left: calc(-1 * calc(var(--cs-gutter-char-size) + var(--size-4-3) + var(--size-2-1) + var(--size-4-3)));
				left: calc(-1 * calc(var(--cs-gutter-char-size) + var(--size-4-3) + var(--size-2-1) + var(--size-4-3)));
				z-index: 10;

				&::before {
					// box-shadow: none;
					// box-shadow: calc(-1 * var(--size-4-1)) 0 0px var(--cs-language-border-gutter-colour);
					z-index: -5;
					bottom: 0;
					// content: none;
				}
			}
		}
	}

	&.cs-line-numbers-enabled-false {
		.cs-pre-parent {
			> pre.cs-pre {
				> code.cs-code {
					> div.cs-line {
						> div.cs-line-number {
							&:not(.cs-line-numbers-enabled-true) {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
