div.print {
	--line-wrapping: pre-wrap !important;
}

@include active {
	div.print {
		pre.code-styler-pre {
			code {
				max-height: unset !important;
			}
			&.code-styler-folded code {
				display: none !important;
			}
		}
	}
}
